
*{
    box-sizeng: border-box;
}

body{
     background-color: #F5F7FA;
}


h1{
    font-size: 36pt;
    background-color: #1E293B;
    color: white;
}
h2{
    color: #1E293B;
}
p{
    margin-left: 50px;
}

#About{
    height: auto;  
    background-color: #E2E8F0;
    padding: 20px;
}

#Contact{
    height: auto;  
     background-color: #CBD5E1;
    padding: 20px;
    text-align: center;
}
.judulc{
    text-align: center; 
}